.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px 25px;
    margin: 15px;

    background-color: #fff;

    border: 1px solid #ccc;
    border-radius: 5px;

    width: 500px;
}

.name{
    color: black;
    font-size: 12px;
}

.email{
    font-size: 12px;
}

.body{
    font-size: 15px;
}

.delete{
    margin-top: 7px;
    width: 15%;
    background-color: red;
    color: #fff;
    border: 1px solid red;

    padding: 4px;
}